@import"../abstracts/variables";
*{margin: 0px;
    padding: 0px;}
:root{font-family: "roboto";
     min-width: 320px;
     font-style: normal;
    }
h3{
    font-size:18px;
    font-weight: 700;
  }
 h2{     
    font-weight: 700;
    font-size: 24px;
} 
p{
     font-weight: 300;
    font-size: 18px;        
}

 %flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 %rowcenter{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 %rowbetween{
   display: flex;
    justify-content:space-between;
    align-items: center;
 }
 
 //keyframe

 //loaders
 .loader{
   background-color: #fff;
   opacity: 0.9;    
   height: 100vh;
   position: fixed;   
   inset: 0px;
   text-align: center;
   line-height: 100vh;
   z-index: 1;
   animation: disparaitre 2s 3s;
   animation-fill-mode:forwards;
     //loader quart de cercle
   .loader-quart{
      position: relative;
     height: 90px;
     width: 90px;
     border-radius: 56px;
     border: 12px solid transparent;
     vertical-align: middle;
     inset: 12px;
     display: inline-block;
     i{position: absolute;
      inset: 30px;       
      font-size:40px;
      color:$violet-foncer;
      animation:ani-ratation 2s infinite;}
      .contener-letter{ 
         font-size: 22px;        
         position: absolute;          
         font-family:"Shrikhand";
        inset: -7rem;
       animation: loader-lettre 1.2s infinite linear;
        animation-delay: 4s; 
           .l1,.l3,.l5,.l7{color:$violet-foncer;}
           .l2,.l4,.l6,.l8{color: $violet-clair;}
            &:nth-child(1){
            animation-delay:0.1s;          
                }
            &:nth-child(2){
            animation-delay:0.2s;
           }
           &:nth-child(3){
            animation-delay:0.3s;
           }
           &:nth-child(4){
            animation-delay:0.4s;
            }
             &:nth-child(5){
             animation-delay:0.5s;
              }
             &:nth-child(6){
              animation-delay:0.6s;
              }      
                   
      }
   }      
   .loader-quart::after{
      content: "";       
      position: absolute;
      inset: -6px;       
      height: 100px;
     width: 100px;
     border-radius: 56px;     
     border-right: 6px solid transparent;
     border-top: 10px solid $vert-foncer;     
     animation: ani-ratation 1s infinite linear;      
   }   
 }
 
