   //les variables
   $bakhgroud-gris-foncer: #EAEAEA;
   $backgroud-gris-clair:#f7f7f7;
   $violet-foncer:#9356DC;
   $vert-foncer: #008766;
   $vert-clair:#99E2D0;
    $color-icon:#7e7e7e;
    $color-linear:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    $color-shadow:rgba(0, 0, 0, 0.25);
    