*{margin: 0px;
    padding: 0px;}
:root{font-family: "roboto";
     min-width: 320px;
     font-style: normal;
    }
h3{
    font-size:18px;
    font-weight: 700;
  }
h2{
    padding-left: 25px;
    font-weight: 700;
    font-size: 24px;
}
p{
     font-weight: 300;
    font-size: 18px;        
}

 %flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 %rowcenter{
    display: flex;
    justify-content: center;
    align-items: center;
 }