* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: "roboto";
  min-width: 320px;
  font-style: normal;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h2 {
  padding-left: 25px;
  font-weight: 700;
  font-size: 24px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.cartes .tous-les-cartes, .cartes, .section-fonction ol, .section-fonction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tous-main .main-palettes .button, .section-fonction ol li .chiffre, .section-fonction ol li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tous-main .main-palettes .titre-palette, .cartes .tous-les-cartes .cartes-cadre-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid.fa-heart {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 2s;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transform: scale(1.13);
}

@keyframes rotation {
  0% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(0);
  }
}
.loader {
  background-color: #fff;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  inset: 0px;
  text-align: center;
  line-height: 100vh;
  z-index: 1;
  animation: disparaitre 2s 3s;
  animation-fill-mode: forwards;
}
.loader .loader-quart {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 6px solid #dad6d6;
  display: inline-block;
  vertical-align: middle;
}
.loader .loader-quart::after {
  content: "";
  position: absolute;
  inset: -6px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  animation: ani-loader 1s infinite linear;
}

@keyframes ani-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparaitre {
  to {
    transform: scale(0);
  }
}
header {
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 800;
  font-size: 40px;
}

footer {
  background-color: #101010;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding-left: 30px;
}
footer h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 18px;
  font-weight: 400px;
}
footer h4 {
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}
footer p {
  font-weight: 300;
  font-size: 16px;
}
footer div {
  display: flex;
}
footer article {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.position {
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.position .champ-position {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  background-color: #EAEAEA;
  border: none;
  color: black;
}

.menu {
  background-color: #f7f7f7;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu h2 {
  margin-left: 0px;
  width: 61%;
  text-align: center;
}
.menu p {
  font-weight: 300;
  font-size: 18px;
  width: 79%;
  text-align: center;
}
.menu h3 {
  width: 45%;
  text-align: center;
  color: white;
  border-radius: 25px 25px 25px 25px;
  padding: 15px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px #000000;
}

.section-fonction {
  height: 380px;
}
.section-fonction ol {
  height: 70%;
  margin-left: 30px;
  gap: 15px;
}
.section-fonction ol li {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  width: 90%;
  height: 30%;
  border-radius: 20px;
  background-color: #f7f7f7;
  gap: 10px;
  box-shadow: 1px 10px 14px gainsboro;
}
.section-fonction ol li .chiffre {
  position: absolute;
  left: -1%;
  font-size: 18px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
}
.section-fonction ol li i {
  color: #7e7e7e;
}
.section-fonction ol li i:hover {
  color: #9356DC;
}
.section-fonction ol .fonction3 i {
  color: #9356DC;
}
@media screen and (min-width: 780px) {
  .section-fonction {
    height: 225px;
  }
  .section-fonction ol {
    display: flex;
    flex-direction: row;
  }
  .section-fonction ol li {
    width: 34%;
  }
}

.cartes {
  background-color: #f7f7f7;
  height: 1150px;
}
.cartes .tous-les-cartes {
  width: 90%;
  margin-left: 30px;
  gap: 15px;
}
.cartes .tous-les-cartes .lien {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: black;
}
.cartes .tous-les-cartes .cartes-cadre {
  position: relative;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(80, 52, 52, 0.1019607843);
}
.cartes .tous-les-cartes .cartes-cadre img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
}
.cartes .tous-les-cartes .cartes-cadre-info {
  height: 25%;
  padding: 0px 20px 0px 10px;
}
.cartes .tous-les-cartes .cartes-cadre .nouveau {
  font-weight: 500;
  font-size: 14px;
  padding: 3px 3px;
  position: absolute;
  z-index: auto;
  right: 8%;
  top: 10%;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 1px;
}
.cartes .tous-les-cartes .cartes-cadre .fa-regular.fa-heart {
  font-size: large;
  transition: background-image 1s;
}
.cartes .tous-les-cartes .cartes-cadre .fa-regular.fa-heart:hover {
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: padding-box;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /*opacity: 1;
  transform: scale(1.13);*/
}
@media screen and (min-width: 780px) {
  .cartes {
    height: 600px;
  }
  .cartes .tous-les-cartes {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cartes .tous-les-cartes .lien {
    width: 45%;
  }
}

header {
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 800;
  font-size: 40px;
}

@keyframes ani-scale {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header-flech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-left: 20px;
}
.header-flech i {
  font-size: larger;
  color: #000;
}

img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.tous-main .main-palettes {
  text-align: center;
  margin-top: -10%;
  padding-left: 20px;
  border-radius: 35px 35px 0px 0px;
  background-color: #f7f7f7;
  position: relative;
  height: 190vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tous-main .main-palettes .titre-palette h2 {
  position: relative;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  margin-left: -20px;
}
.tous-main .main-palettes .titre-palette i {
  position: absolute;
  left: 90%;
}
.tous-main .main-palettes .section-menu {
  width: 98%;
}
.tous-main .main-palettes .section-menu h3 {
  width: 5%;
  font-weight: 300;
  font-size: 16px;
  border-bottom: solid 2px #99E2D0;
}
.tous-main .main-palettes .section-menu .tous-repas {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.tous-main .main-palettes .section-menu .tous-repas .repas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  width: 98%;
  height: 25%;
  overflow: hidden;
  box-shadow: 2px 2px 2px #EAEAEA;
  animation: ani-scale 1s;
  animation-fill-mode: backwards;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:nth-child(1) {
  animation-delay: 100ms;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:nth-child(2) {
  animation-delay: 200ms;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:nth-child(3) {
  animation-delay: 300ms;
}
.tous-main .main-palettes .section-menu .tous-repas .repas h4 {
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tous-main .main-palettes .section-menu .tous-repas .repas p {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tous-main .main-palettes .section-menu .tous-repas .repas .repas-proposer {
  padding: 10px 0px 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: initial;
}
.tous-main .main-palettes .section-menu .tous-repas .repas .price-cheks {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tous-main .main-palettes .section-menu .tous-repas .repas .price-cheks .price {
  font-weight: 700;
  padding-top: 15px;
}
.tous-main .main-palettes .section-menu .tous-repas .repas .price-cheks .cheks {
  width: 10px;
  background-color: #99E2D0;
  border-radius: 0px 25px 25px 0px;
  padding: 25px;
  margin-right: -4rem;
  transition: margin-right 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tous-main .main-palettes .section-menu .tous-repas .repas .price-cheks .cheks i {
  background-color: white;
  color: #99E2D0;
  border-radius: 50px;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:hover {
  cursor: pointer;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:hover .cheks {
  margin-right: 0px;
}
.tous-main .main-palettes .section-menu .tous-repas .repas:hover i {
  animation: rotation 1s ease-in-out;
}
.tous-main .main-palettes .button {
  height: 20vh;
}
.tous-main .main-palettes .button h5 {
  text-align: center;
  color: white;
  width: 45%;
  border-radius: 25px 25px 25px 25px;
  padding: 15px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px #000000;
}

@media screen and (min-width: 780px) {
  .tous-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tous-main .main-palettes {
    width: 80%;
  }
  .tous-main .main-palettes .titre-palette {
    display: flex;
    justify-content: center;
  }
  .tous-main .main-palettes .section-menu {
    width: 80%;
    margin-left: 50px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding-bottom: 20px;
  }
  footer article {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
}/*# sourceMappingURL=style.css.map */