  .loader{
    background-color: #fff;
    opacity: 0.9;    
    height: 100vh;
    position: fixed;   
    inset: 0px;
    text-align: center;
    line-height: 100vh;
    z-index: 1;
    animation: disparaitre 2s 4s;
    animation-fill-mode:forwards;
      //loader quart de cercle
    .loader-quart{
       position: relative;
      height: 90px;
      width: 90px;
      border-radius: 56px;
      border: 12px solid transparent;
      vertical-align: middle;
      inset: 12px;
      display: inline-block;
      i{position: absolute;
       inset: 30px;       
       font-size:40px;
       color:$violet-foncer;
       animation:ani-ratation 2s infinite;}
       .contener-letter{        
          font-size: 22px;        
          position: absolute;          
          font-family:"Shrikhand";
         inset: -7rem;
         animation: loader-lettre 1.2s infinite linear;
         animation-delay:1s; 
            .l1,.l3,.l5,.l7{color:$violet-foncer;}
            .l2,.l4,.l6,.l8{color: $violet-clair;}                    
       }
    }      
    .loader-quart::after{
       content: "";       
       position: absolute;
       inset: -6px;       
       height: 100px;
      width: 100px;
      border-radius: 56px;     
      border-right: 6px solid transparent;
      border-top: 10px solid $vert-foncer;     
      animation: ani-ratation 1s infinite linear;     
    }   
  }