//version disktop pour la page restaurant
@media screen and (min-width: 780px){         
    .tous-main{
    display: flex;
    flex-direction: column;
    align-items: center;
       .main-palettes{
           width: 80%;
           .titre-palette{
               display: flex;
               justify-content: center;
           }
           .section-menu{
               width: 80%;
               margin-left: 50px;
              
          }                     
       } 
    }
    footer{        
        display:flex;
        flex-direction: row-reverse;
        align-items: end;
        padding-bottom: 20px;
        article{
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: end;
        }
    }                
} 
//version disktop
@media screen and (min-width:780px) { 
    .cartes{
    height: 600px;
     .tous-les-cartes{
       width: 90%;
        display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;               
          .lien{
           width: 45%;
          }
        }
  }  
}
// section-fonction de pages d'acueil
@media screen and (min-width: 780px){
     .section-fonction{ 
    height: 200px;
  ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    li{
     width: 34%;
    }
  }

}  }                  