.position{        
    background-color: $bakhgroud-gris-foncer;
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
      gap: 10px;
     .champ-position{            
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        background-color: $bakhgroud-gris-foncer;
        border: none;
        color: black;
     }       
    }