.section-fonction{  
  margin-left:auto;
  margin-right: auto;
  width: 90%;
    height: 340px;                 
     @extend %flexcolumn;
    ol{         
       height: 65%;                  
        @extend %flexcolumn;       
       gap: 10px;
       li{             
           position: relative;
           font-weight: 400;
           font-size: 15px;
           height: 70px;    
           border-radius: 20px;                        
           background-color: $backgroud-gris-clair;
            @extend %rowcenter;
           gap: 5px;           
           box-shadow: 1px 10px 14px gainsboro ;
           .chiffre{
               position: absolute;
               left: -1%;
               font-size: 18px;
               @extend %rowcenter;
               width: 23px;
               height: 23px;
               border-radius: 50px;
               background-color: $violet-foncer;
                color: #ffff;
              } 
             i{
                color:$color-icon;
                font-size: larger;
                     
              }
           &:hover{
            transform: scale(1.02);
            opacity: 0.9;
           }
           &:hover{
            i{
            color:$violet-foncer;}
           }        
       }       
       .fonction3{
        i{
           color: $violet-foncer;
        }
       }       
     }     
}