.cartes{
        background-color: $backgroud-gris-clair;
        height: 1150px;
            padding-left: 25px;     
         @extend %flexcolumn;
        .tous-les-cartes{                               
             @extend %flexcolumn;
             align-items: center;
            gap: 15px;
            width: 90%;           
                .lien{width: 100%;
                    height: auto;
                    text-decoration: none;
                    color: black;
                }
            .cartes-cadre{                
                position: relative;                        
                height: 250px;
                background-color: white;
                border-radius: 15px;
                box-shadow: 0px 4px 15px $color-shadow;
                transition:all 1s ;
                &:hover{
                    transform: scale(1.02);
                    box-shadow:5px 10px 15px $color-shadow; }            
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 70%;
                    border-radius: 15px 15px 0px 0px;
                }
                &-info{ 
                    display: flex;
                    justify-content:space-between;
                    align-items: center;                                     
                    height: 25%;                 
                   padding: 0px 20px 0px 10px;
                   i{                    
                    @include heart;
                  }                   
                }
                .nouveau{
                    font-weight: 500;
                    font-size: 14px;
                    padding: 3px 3px;
                    position: absolute;
                    z-index: auto;
                    right: 8%;
                    top: 10%;
                    color:$vert-foncer;
                    background-color: $vert-clair;
                    border-radius: 1px; 
                }                 
            }                   
        }       
    }            