@import "../abstracts/mixin.scss";

.menu{
    background-color: $backgroud-gris-clair;
    height: 320px;
     @extend %flexcolumn;
    align-items: center;     
     & h2{ 
      margin-left: 0px;       
        width: 61%;
        text-align: center;
       }
     & p{
        font-weight: 300;
       font-size: 18px;
       width: 79%;
       text-align: center;}
       & .button1{
        @include button;
      }  
    }